<!-- Fetch and Display Tasks -->
<script setup lang="ts">
import axios from 'axios'
import TodoForm from '@/components/TodoForm.vue'
import TodoList from '@/components/TodoList.vue'
</script>

<template>
  <TodoForm @add-note="addNote" />
  <TodoList @delete-note="deleteNote" @update-note="updateNote" :notes="notes" />
</template>

<script lang="ts">
export type Notes = {
  id: number
  title: string
  status: number
}

export default {
  name: 'TaskManager',
  components: {
    TodoForm,
    TodoList
  },
  methods: {
    deleteNote(id: number) {
      axios
        .delete('http://localhost:8000/todo', { data: { id } })
        .then(() => {
          this.notes = this.notes.filter((note) => note.id !== id)
        })
        .catch((err) => console.error(err))
    },
    updateNote(id: number) {
      const index = this.notes.findIndex((note) => note.id === id)
      const status = this.notes[index].status === 0 ? 1 : 0
      axios
        .put('http://localhost:8000/todo', { id, status })
        .then(() => {
          this.notes[index].status = this.notes[index].status === 0 ? 1 : 0
        })
        .catch((err) => console.error(err))
    },
    addNote(payload: string) {
      axios
        .post('http://localhost:8000/todo', { title: payload })
        .then(() => {
          this.notes.unshift({
            id: this.notes[this.notes.length - 1].id + 1,
            title: payload,
            status: 0
          })
        })
        .catch((err) => console.error(err))
    }
  },
  data(): { notes: Notes[] } {
    return {
      notes: []
    }
  },
  created() {
    axios
      .get('http://localhost:8000/todo')
      .then(({ data }) => (this.notes = data.data))
      .catch((err) => console.error(err))
  }
}
</script>
