<script setup lang="ts">
import TodoItem from '@/components/TodoItem.vue'
import { type Notes } from './TaskManager.vue'
</script>

<template>
  <div class="w-full flex flex-col gap-2 sm:w-2/3 lg:w-1/3 self-center">
    <div :key="note.id" v-for="note in notes">
      <TodoItem
        @delete-note="$emit('delete-note', note.id)"
        @update-note="$emit('update-note', note.id)"
        :note="note"
      />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'TodoList',
  props: {
    notes: {
      type: Array as () => Notes[]
    }
  },
  emits: ['delete-note', 'update-note']
}
</script>
