<script setup lang="ts">
import type { Notes } from './TaskManager.vue'
import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogFooter,
  DialogHeader,
  DialogTitle,
  DialogTrigger
} from '@/components/ui/dialog'
import { Button } from '@/components/ui/button'
import { X } from 'lucide-vue-next'
</script>

<template>
  <div
    class="group flex justify-between px-4 py-2 hover:bg-secondary hover:text-secondary-foreground transition-colors rounded-md cursor-pointer"
    @click="onUpdate(note?.id as number)"
  >
    <p :class="{ 'line-through': note?.status == 0 ? false : true }">{{ note?.title }}</p>
    <div class="flex gap-4">
      <Dialog>
        <DialogTrigger>
          <X
            class="w-8 text-red-500 hidden group-hover:flex hover:outline-red-500 hover:outline-1 hover:outline hover:text-secondary rounded-md hover:bg-red-500 transition-all"
          />
        </DialogTrigger>
        <DialogContent>
          <DialogHeader>
            <DialogTitle>Are you Sure?</DialogTitle>
            <DialogDescription> This will permanently delete the todo. </DialogDescription>
          </DialogHeader>
          <DialogFooter><Button variant="destructive">Delete Todo</Button></DialogFooter>
        </DialogContent>
      </Dialog>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'TodoItem',
  props: {
    note: {
      type: Object as () => Notes
    }
  },
  created() {},
  methods: {
    onUpdate(id: number) {
      this.$emit('update-note', id)
    },
    onDelete(id: number) {
      this.$emit('delete-note', id)
    }
  }
}
</script>
