<script setup lang="ts">
import { Button } from '@/components/ui/button'
import { Input } from '@/components/ui/input'
</script>

<template>
  <div class="flex gap-4 self-center">
    <Input
      v-model="text"
      v-on:update:model-value="(payload) => handleChange(String(payload))"
      type="text"
      class="w-64"
    />
    <Button @click="addNote">Add Todo</Button>
  </div>
</template>

<script lang="ts">
export default {
  name: 'TodoForm',
  data() {
    return { text: '' }
  },
  methods: {
    addNote() {
      this.$emit('add-note', this.text)
      this.text = ''
    },
    handleChange(payload: string) {
      this.text = payload
    }
  }
}
</script>
