<script setup lang="ts">
import TaskManager from './components/TaskManager.vue'
</script>

<template>
  <div class="h-screen">
    <div class="container flex flex-col gap-8 mt-5">
      <h1
        class="text-3xl self-center font-bold border rounded-md border-primary/50 px-4 py-2 select-none bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary transition-colors"
      >
        ToDo App
      </h1>
      <TaskManager />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'App',
  components: {
    TaskManager
  }
}
</script>
